In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
def training_data_loader(root_path):
    image_paths = []
    image_labels = []
    labels_set, ids = [], []
    id_counter = 0
    labels_dir = os.listdir(root_path)
    #  first locate the main root path of the whole data set
    for root, dirs, files in os.walk(root_path):
        # Here we stand in root, which is the complete path of each subfolder
        #if dirs != '.DS_Store':
            #ids.append(id_label)
            #id_label = id_label+1
        for file in files:
            # Herestart reading/iterating inside the files within the subfolder whose location is contained in root
            if file !='.DS_Store':
                image_path = root + '/' + file # the path is assembled 
                image_paths.append(image_path) # List with the path of a file during iteration
                image_labels.append(image_path.split('/')[-2])
    
    
    
    for label in labels_dir:
        #print(label)
        if label != '.DS_Store':
            labels_set.append(label)
            ids.append(id_counter)
            id_counter +=1
    # Convert to ndarray, ease of use later with pandas and native C implementation 
    image_paths = np.array(image_paths) 
    image_labels = np.array(image_labels)
    # size must coincide
    assert len (image_paths) == len (image_labels)
    
    return image_paths, image_labels, ids, labels_set

In [3]:
def dataframe(image_labels, ids):
    labels = np.array(image_labels)
    ids = np.array(ids)
    training_dataframe = pd.DataFrame(np.c_[labels, ids], columns = ['Fruit labels', 'Id'])
    return training_dataframe

In [4]:
PATH_TEST = "/Users/William/Workspace/AI/pro/fruit_classifier/data/raw/fruits-360/Test"
image_paths_tst, image_labels_tst, ids_tst, labels_set_tst = training_data_loader(PATH_TEST)
test_dataframe = dataframe(labels_set_tst, ids_tst)
print(test_dataframe)
#x_tst, y_tst = image_loader(image_paths_tst, image_labels_tst)
test_data = pd.DataFrame(np.c_[image_labels_tst], columns = ['Fruit labels'])

           Fruit labels  Id
0        Apple Braeburn   0
1        Apple Golden 1   1
2        Apple Golden 2   2
3        Apple Golden 3   3
4    Apple Granny Smith   4
5           Apple Red 1   5
6           Apple Red 2   6
7           Apple Red 3   7
8   Apple Red Delicious   8
9      Apple Red Yellow   9
10              Apricot  10
11              Avocado  11
12         Avocado ripe  12
13               Banana  13
14           Banana Red  14
15         Cactus fruit  15
16         Cantaloupe 1  16
17         Cantaloupe 2  17
18            Carambula  18
19             Cherry 1  19
20             Cherry 2  20
21       Cherry Rainier  21
22     Cherry Wax Black  22
23       Cherry Wax Red  23
24    Cherry Wax Yellow  24
25           Clementine  25
26                Cocos  26
27                Dates  27
28           Granadilla  28
29           Grape Pink  29
..                  ...  ..
51        Passion Fruit  51
52                Peach  52
53           Peach Flat  53
54                 Pear  54
55           Pear Abate  55
56         Pear Monster  56
57        Pear Williams  57
58               Pepino  58
59             Physalis  59
60   Physalis with Husk  60
61            Pineapple  61
62       Pineapple Mini  62
63         Pitahaya Red  63
64                 Plum  64
65          Pomegranate  65
66               Quince  66
67             Rambutan  67
68            Raspberry  68
69                Salak  69
70           Strawberry  70
71     Strawberry Wedge  71
72            Tamarillo  72
73              Tangelo  73
74             Tomato 1  74
75             Tomato 2  75
76             Tomato 3  76
77             Tomato 4  77
78    Tomato Cherry Red  78
79        Tomato Maroon  79
80               Walnut  80

[81 rows x 2 columns]

In [6]:
xls_test_data = test_data.to_excel('test_data.xlsx')

In [8]:
len(test_data)

13877

In [12]:
processed_test_data = pd.read_excel('test_data.xlsx')

In [14]:
processed_test_data

         Fruit labels  ID
0      Apple Braeburn   0
1      Apple Braeburn   0
2      Apple Braeburn   0
3      Apple Braeburn   0
4      Apple Braeburn   0
5      Apple Braeburn   0
6      Apple Braeburn   0
7      Apple Braeburn   0
8      Apple Braeburn   0
9      Apple Braeburn   0
10     Apple Braeburn   0
11     Apple Braeburn   0
12     Apple Braeburn   0
13     Apple Braeburn   0
14     Apple Braeburn   0
15     Apple Braeburn   0
16     Apple Braeburn   0
17     Apple Braeburn   0
18     Apple Braeburn   0
19     Apple Braeburn   0
20     Apple Braeburn   0
21     Apple Braeburn   0
22     Apple Braeburn   0
23     Apple Braeburn   0
24     Apple Braeburn   0
25     Apple Braeburn   0
26     Apple Braeburn   0
27     Apple Braeburn   0
28     Apple Braeburn   0
29     Apple Braeburn   0
...               ...  ..
13847          Walnut  80
13848          Walnut  80
13849          Walnut  80
13850          Walnut  80
13851          Walnut  80
13852          Walnut  80
13853          Walnut  80
13854          Walnut  80
13855          Walnut  80
13856          Walnut  80
13857          Walnut  80
13858          Walnut  80
13859          Walnut  80
13860          Walnut  80
13861          Walnut  80
13862          Walnut  80
13863          Walnut  80
13864          Walnut  80
13865          Walnut  80
13866          Walnut  80
13867          Walnut  80
13868          Walnut  80
13869          Walnut  80
13870          Walnut  80
13871          Walnut  80
13872          Walnut  80
13873          Walnut  80
13874          Walnut  80
13875          Walnut  80
13876          Walnut  80

[13877 rows x 2 columns]

In [ ]:
y_pred = np.array()